<nav class="admin-nav">
    <a href="/admin">
        Admin
    </a>
    <ul class="nav-ul">
        <li class="nav-li"><a href="/admin/patient">Patients</a></li>
        <li class="nav-li"><a href="/admin/doctor">Doctors</a></li>
        <li class="nav-li"><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>