<% include includes/header %>
<header class="header">
    <img src="/img/banner.jpeg" alt="Banner">
    <div class="sub-text">
        <h3>Select the portal below</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, saepe accusamus sequi explicabo illum impedit mollitia eaque pariatur unde quidem quam, consectetur maiores nostrum id veniam vel quia, hic ipsa!</p>
    </div>
    <hr>
    <div class="portals">
        <div class="doctor">
            <h3><a href="/doctor">Doctors</a></h3>
        </div>
        <div class="patient">
            <h3><a href="/patient">Patients</a></h3>
        </div>
        <div class="admin">
            <h3><a href="/admin">Admins</a></h3>
        </div>
    </div>
</header>
<% include includes/footer %>