<% include ../includes/header %>
    <div class="cofirmed-message">
        <span>
            <%=message%>
        </span>
        <div class="confirm-controls">
            <a href="/patient">Home</a>
        </div>
    </div>

    <% include ../includes/footer %>